@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500&display=swap');

@import "tailwindcss";

@layer base {
  :root {
    --color-theme-bg: 15 15 15;
    --color-theme-primary: 255 111 97;
    --color-theme-primary-active: 230 100 88;
    --color-theme-secondary: 227 115 131;
    --color-theme-accent: 255 179 71;
  }

  body {
    background-color: rgb(var(--color-theme-bg));
    color: rgb(var(--color-theme-secondary));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Noto Serif KR', serif;
    font-weight: 300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(var(--color-theme-primary));
    font-family: 'Noto Serif KR', serif;
    font-weight: 300;
  }
}