@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-theme-bg: #0F0F0F;
  --color-theme-primary: #FF6F61;
  --color-theme-primary-active: #E66458;
  --color-theme-secondary: #E37383;
  --color-theme-accent: #FFB347;
}

@layer base {
  body {
    background-color: var(--color-theme-bg);
    color: var(--color-theme-secondary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Noto Sans KR', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-theme-primary);
    font-family: 'Playfair Display', serif;
  }
}